# Prerequisites
*.d
*.tlog
*.log
*.idb
*.pdb
*.filters
*.tlog
*.sou
*.ipch

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.opendb
*.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
